body {
background-image: url(https://teachermate.oss-cn-qingdao.aliyuncs.com/N8wpy-1725727567035-cg2_sd06a.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
